@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px; 
}

.logo{
    text-decoration: none;
    color: hotpink;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
}

.mainmenu a {
    text-decoration: none;
    color: hotpink;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 30px;
}

.mainmenu a:hover{
    color: lightgray;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/backweb.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2{
    color: black;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: hotpink;
    font-size:3em;
    font-weight: 600;
}

.main h3{
    color: black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: white;
    background-color: #ff99cc;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: hotpink;
    transform: scale(1.1);

}

.title{
    display: flex;
    justify-content: center;
    color: hotpink;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me {
    font-size: 1.5em;
    font-weight: 500;
    color: #666665;
    display: block;
    line-height: 36px;
    margin: 25px;
}
.about-me p{
    margin: 0 0 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.card {
    background-color: #fff;
    width: 23em;
    min-height: 14em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    overflow: hidden;
    transition: 0.7s ease;
}
 .card:hover {
      transform: scale(1.1);
 }

 .projects{
     background-color: white;
 }
 .project-img img{
     width: 100%;
 }
 .project-info{
     padding: 1em;
     /* display: flex; */
     justify-content: space-between;
     font-weight: 800;
     margin-top: 10px;
 }
 .project-info span{
     color: gray;
     font-size: 0.8em;
 }
 .more-details{
     text-decoration: none;
     color: hotpink;

 }
.more-details:hover{
    color: mediumpurple;
}

.icon{
    color: hotpink;
    font-size: 4.5em;
    text-align: center;
}

.contact-info{
    text-align: center;
}
.contact-info h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.contact-info p{
font-size: 1em;
   
}
.contact-info a {
     text-decoration: none;
     color: deeppink;
}
.contact-info a:hover{
    color:mediumpurple;
}

    .footer {
        background-color: lightpink;
        font-size: 1.2em;
        font-weight: 700;
        justify-content: center;
        padding: 1em;
        display: flex;
    }
.footer span{
    color: hotpink;
}

.skills{
    background-color: lightpink; 
}
.skills .skills-icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.skills img{
    width: 80px;
    height: 80px;
}

.skills-icons li {
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    margin: 1em;
}
.skills-icons li:hover{
    transform: scale(1.1);
}